/*
 Theme Name:   KWM Whitelight
 Theme URI:    
 Description:  Child theme of Whitelight for Kingdom Way Ministries, based on Media Salad's child theme.
 Author:       Star Verte LLC
 Template:     whitelight
 Version:      0.1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         
 Text Domain:  whitelight-kwm
*/

@import url(../whitelight/style.css);

html,
body {
  font-size: 15px;
}

/*
 * Header/Navigation
 */
#text-title{
  font-family:'Raleway','Helvetica', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 46px;	
  margin: 23px 0 0 95px;
  line-height: 0.9;
}
#logo{
  position: static;
  float: left;
  margin-right: 10px;
}
#logo img {
  width: 85px;
}
@media all and (min-width:768px){
  #header{
    padding-top: 14px;
    padding-bottom: 16px;
  }
  #header .col-full{
    max-width: none;
  }
  #top{
    background: none;
  }
  #text-title{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 46px;	
    margin: 34px 0 0 60px;
    line-height: 1.2em;
  }
  #navigation{
    margin-left: 55px;
  }
  #logo{
    position: absolute;
    top: -40px;
  }
  #logo img{
    width: 115px;
  }
}

.entry-content {
  font-size: 15px;
}
.entry h1 {
  font-size: 36px;
}
.entry h2 {
  color: #9f6302;
  font-size: 30px;
}
.entry h3 {
  color: #444;
  font-size: 24px;
}
.entry h4 {
  font-size: 18px;
}
.entry h5 {
  font-size: 14px;
}
.entry h6 {
  font-size: 12px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-red {
  color: #ffffff!important;
  background-color: #a62213;
  border-color: #8f1d10;
}
.btn-red:focus,
.btn-red.focus {
  color: #ffffff!important;
  background-color: #78190e;
  border-color: #1d0603;
}
.btn-red:hover {
  color: #ffffff!important;
  background-color: #78190e;
  border-color: #58120a;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  color: #ffffff!important;
  background-color: #78190e;
  border-color: #58120a;
}
.btn-red:active:hover,
.btn-red.active:hover,
.open > .dropdown-toggle.btn-red:hover,
.btn-red:active:focus,
.btn-red.active:focus,
.open > .dropdown-toggle.btn-red:focus,
.btn-red:active.focus,
.btn-red.active.focus,
.open > .dropdown-toggle.btn-red.focus {
  color: #ffffff!important;
  background-color: #58120a;
  border-color: #1d0603;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  background-image: none;
}
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus {
  background-color: #a62213;
  border-color: #8f1d10;
}
.btn-red .badge {
  color: #a62213;
  background-color: #ffffff;
}
